$font-cin:'Cinzel', serif;
$font-var:'Varela', sans-serif;
$font-time:'Times New Roman', Times, serif;
$color-bgabt:#ececec;
$color-text:#515151;
$color-abtus:#f5f5f5;
$color-pricing:#848484;
$color-col:#5e5856;
$color-form:#575757;
$color-logos:#413b36;
$color-navbar: #DC0908;
$color-aboutbg:#ebe2db;
$color-abouttxt:#727272;
$color-fill:#fb004b;
$color-servicesbg:#1e1c1c;
$color-cardbg:#2b2b2b;
$color-cardcheck:#e48b8b;