.foot{
    background-image: url(/public/images/section\ 7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // font-family: $font-var;
    
    .footicon{
        color:#ffffff;
    }
}
.footercontent-1{
    font-weight: 600;
}
.footercontent-2{
    font-weight: 100;
}